/** CSS STYLE **/

:root {
    --white: #fff;
    --translucent-white: #d7ccc0;
    --light: #f5f4f0;
    --primary: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --translucent-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
    --hover: #ea7600;
}


body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.55em;
    color: var(--dark);
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-weight: 400;
}

h1 {
    font-size: 72px;
    color: var(--primary);
    margin-bottom: 185px;
}

h2 {
    font-size: 60px;
    color: var(--primary);
    font-weight: 400;
    margin: 100px 0 27px;
}

h3 {
    font-size: 34px;
}

.header {
    width: 1440px;
    height: 914px;
    position: relative;
    background-color: var(--light);
    z-index: -2;
}

.container {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}


.header::before,
.effect:before,
.optima::before,
.distortion-of-novelty::before {
    content: "";
    width: 1440px;
    height: 914px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.06;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.dark {
    color: var(--dark);
}

.more {
    display: block;
    width: 100px;
    margin-top: 40px;
    font-weight: 700;
    padding: 12px 24px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    cursor: pointer;
}

.more:hover {
    color: var(--hover)
}

.main {
    position: absolute;
    top: 49px;
    right: -283px;
    z-index: -1;
    width: 99%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 29px;
}

.col {
    flex: 1 0;
}

.video {
    text-align: center;
}

.video .container {
    padding: 0px;
}

.text-video-margin {
    margin: 25px 0 30px;
}

.navigation-list {
    width: 1152px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 21px;
    list-style-type: none;
    column-gap: 31px;
}

.navigation {
    background-color: var(--main-dark);
    margin-top: -100px;
    padding-top: 200px;
    padding-bottom: 100px;
}

.navigation-item {
    box-sizing: border-box;
    width: 350px;
    height: auto;
    padding: 22px;
    background-color: var(--light);
}

.navigation-item:first-child {
    padding: 0px;
    background-color: var(--main-dark);
    text-align: left;
}

.list-title {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    color: var(--primary)
}

.white {
    color: var(--white)
}

.number {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: var(--main-dark);
    text-align: left;
}

.item-title {
    margin: 36px 0 14px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    color: var(--primary);
    text-align: left;
}

.item-text {
    padding-bottom: 3px;
    text-align: left;
}

.effect,
.optima,
.distortion-of-novelty {
    position: relative;
}

.effect::before,
.optima::before,
.distortion-of-novelty::before {
    height: 905px;
}


.effect h2,
.optima h2,
.distortion-of-novelty h2 {
    margin: 0;
}

.effect-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 30px;
    margin-bottom: 100px;
}

.img-box {
    background: url(1.png);
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.effect-img {
    vertical-align: middle;
}

.effect-tag {
    margin-top: 0;
    margin-bottom: 0;

    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--translucent-dark);
}

.effect-title {
    color: var(--dark);
}

.effect-lead {
    margin-top: 32px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: var(--dark);
    line-height: 1.15;
}

.effect-subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--white);
    text-transform: uppercase;
    padding: 5px 0 5px 10px;
    background-color: var(--brown);
}

.effect .col {
    margin-top: 7px;
}

.optima {
    position: relative;
    background-color: var(--brown);
    z-index: -2;
}

.optima::before {
    height: 855px;
}

.optima .effect-tag {
    color: var(--translucent-white);
}

.optima .effect-title,
.optima .effect-lead,
.optima .col {
    color: var(--white);
}

.optima .effect-lead {
    margin-top: 29px;
    line-height: 1.15;
}

.optima .effect-subtitle {
    color: var(--brown);
    background-color: var(--white);
    margin-bottom: 1px;
}

.distortion-of-novelty::before {
    height: 880px;
}

.distortion-of-novelty .effect-subtitle {
    margin-bottom: 3px;
}

.distortion-of-novelty {
    position: relative;
    background-color: var(--light);
    z-index: -2;
}

/* .hello {
    display: block;

    color: #fff;
} */
